{% extends "layout-confirmation.jinja" %}
{% from "mammograms/medical_information/section_cards.jinja" import symptoms_summary %}
{% from 'nhsuk/components/inset-text/macro.jinja' import insetText %}

{% block details %}
  {{ symptoms_summary([summary_list_row], classes="nhsuk-summary-list--no-border") }}

  {% set insetTextHtml %}
    <p>This action is final and cannot be undone.</p>
  {% endset %}

  {{ insetText({
    "html": insetTextHtml
  }) }}
{% endblock %}
