{% from 'nhsuk/components/warning-callout/macro.jinja' import warningCallout %}
{% from 'nhsuk/components/summary-list/macro.jinja' import summaryList %}
{% macro special_appointment_banner(presented_special_appointment, show_change_link=True) %}
  {% if presented_special_appointment %}
    {% set special_appointment_html %}
      {% set rows = [] %}
      {% for reason in presented_special_appointment.reasons %}
        {# Build the value content (details) #}
        {% set value = {} %}
        {% if reason.details %}
          {% set value = {"html": reason.details | e} %}
        {% else %}
          {% set value = {"html": "<span class=\"nhsuk-u-secondary-text-colour\">No details provided</span>"} %}
        {% endif %}

        {# Add row for this support reason #}
        {% do rows.append({
          "key": {
            "text": reason.label
          },
          "value": value
        }) %}
      {% endfor %}
      {{ summaryList({
        "rows": rows,
        "classes": "app-special-appointment-banner"
      }) }}
    {% endset %}
    {{ warningCallout({
      "heading": "Special appointment",
      "html": special_appointment_html,
      "actions": {
        "items": [
          {
            "href": presented_special_appointment.change_url,
            "text": "Change",
            "visuallyHiddenText": "special appointment requirements",
            "classes": "nhsuk-link--no-visited-state",
          }
        ]
      } if show_change_link else undefined
    }) }}
  {% endif %}
{% endmacro %}
