{% extends "layout-form.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/fieldset/macro.jinja" import fieldset %}

{% block form %}
  {% do form.symptom_sub_type.add_conditional_html('CARDIAC_DEVICE', form.symptom_sub_type_details.as_field_group()) %}

  {{ form.symptom_sub_type.as_field_group() }}

  {{ form.additional_information.as_field_group() }}
{% endblock %}
