{% extends "layout-app.jinja" %}
{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "django_form_helpers.jinja" import form_error_summary %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {{ form_error_summary(form) }}
    <span class="nhsuk-caption-l">Erin Sauer</span>
    <h1 class="nhsuk-heading-l">Technical recall</h1>

    <form action="{{ request.path }}" method="post" novalidate>
      {{ csrf_input }}

      <h2 class="nhsuk-heading-m">Which views need to be retaken?</h2>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h3 class="nhsuk-heading-s">Right breast</h3>

          {% do form["rcc"].add_conditional_html("true", form["rcc_reason"].as_field_group() ~ form["rcc_details"].as_field_group()) %}
          {{ form["rcc"].as_field_group() }}

          {% do form["rmlo"].add_conditional_html("true", form["rmlo_reason"].as_field_group() ~ form["rmlo_details"].as_field_group()) %}
          {{ form["rmlo"].as_field_group() }}
        </div>

        <div class="nhsuk-grid-column-one-half">
          <h3 class="nhsuk-heading-s">Left breast</h3>

          {% do form["lcc"].add_conditional_html("true", form["lcc_reason"].as_field_group() ~ form["lcc_details"].as_field_group()) %}
          {{ form["lcc"].as_field_group() }}

          {% do form["lmlo"].add_conditional_html("true", form["lmlo_reason"].as_field_group() ~ form["lmlo_details"].as_field_group()) %}
          {{ form["lmlo"].as_field_group() }}
        </div>
      </div>

      {{ button({"text": "Continue"}) }}
    </form>
  </div>
</div>
{% endblock %}
