{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/inset-text/macro.jinja" import insetText %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "mammograms/medical_information/medical_history/cards/benign_lump_history_card.jinja" import benign_lump_history_card %}
{% from "mammograms/medical_information/medical_history/cards/breast_augmentation_history_card.jinja" import breast_augmentation_history_card %}
{% from "mammograms/medical_information/medical_history/cards/breast_cancer_history_card.jinja" import breast_cancer_history_card %}
{% from "mammograms/medical_information/medical_history/cards/cyst_history_card.jinja" import cyst_history_card %}
{% from "mammograms/medical_information/medical_history/cards/implanted_medical_device_history_card.jinja" import implanted_medical_device_history_card %}
{% from "mammograms/medical_information/medical_history/cards/mastectomy_or_lumpectomy_history_card.jinja" import mastectomy_or_lumpectomy_history_card %}
{% from "mammograms/medical_information/medical_history/cards/other_procedure_history_card.jinja" import other_procedure_history_card %}
{% from "mammograms/medical_information/other_information/cards/macros.jinja" import hormone_replacement_therapy_details, pregnancy_and_breastfeeding_details, other_medical_information_details %}
{% from "components/breast-diagram/macro.jinja" import app_breast_diagram %}

{% macro mammogram_history_content(presented_medical_info, presented_mammograms, read_only=false) %}
  <p>The last confirmed mammogram and any added manually since then</p>

  <h3 class="nhsuk-heading-s">From screening records</h3>
  {{ summaryList({
    "rows": [
      {
        "key": {
          "text": "Last known mammogram"
        },
        "value": {
          "html": confirmed_mammogram_html(presented_mammograms.last_confirmed_mammogram)
        }
      }
    ]
  }) }}

  {% set mammogram_rows = [] %}
  {% for mammogram in presented_mammograms.reported_mammograms %}
    {% set mammogram_label_html %}
      {{ mammogram.label }}{% if mammogram.created_by %}<br><span class="nhsuk-u-secondary-text-colour nhsuk-body-s nhsuk-u-margin-bottom-0">{{ mammogram.created_by }}</span>{% endif %}
    {% endset %}
    {% set _ = mammogram_rows.append({
      "key": {
        "html": mammogram_label_html
      },
      "value": {
        "html": reported_mammogram_html(mammogram)
      },
      "actions": {
        "items": [mammogram.change_link] if not read_only else []
      },
    }) %}
  {% endfor %}

  {% if mammogram_rows %}
    <h3 class="nhsuk-heading-s">Reported mammograms</h3>
    {{ summaryList({
      "rows": mammogram_rows
    }) }}
  {% endif %}

  {% if not read_only %}
    {{ button({
      "text": presented_medical_info.add_mammogram_button.text,
      "href": presented_medical_info.add_mammogram_button.href,
      "classes": "nhsuk-button--secondary nhsuk-button--small"
    }) }}
  {% endif %}
{% endmacro %}

{% macro reported_mammogram_html(mammogram) %}
  {% if mammogram.date.is_exact %}
    {{ mammogram.date.absolute }} <span class="nhsuk-u-secondary-text-colour">({{ mammogram.date.relative }})</span>
  {% else %}
    {{ mammogram.date.value }}
  {% endif %}

  <br>{{ mammogram.location }}

  {% if mammogram.reason_for_continuing %}
    <br>Reason for continuing with mammograms: {{ mammogram.reason_for_continuing | nl2br }}
  {% endif %}

  {% if mammogram.different_name %}
    <br>Previous name: {{ mammogram.different_name }}
  {% endif %}

  {% if mammogram.additional_information %}
    <br>Additional information: {{ mammogram.additional_information | nl2br }}
  {% endif %}
{% endmacro %}

{% macro confirmed_mammogram_html(mammogram) %}
  {% if mammogram %}
    {{ mammogram.date.absolute }} <span class="nhsuk-u-secondary-text-colour">({{ mammogram.date.relative }})</span>
    <br>{{ mammogram.location }}
  {% else %}
    <span class="nhsuk-u-secondary-text-colour">Not known</span>
  {% endif %}
{% endmacro %}

{% macro symptoms_content(presented_medical_info, read_only=false) %}
  {% set symptom_rows = presented_medical_info.read_only_symptom_rows if read_only else presented_medical_info.symptom_rows %}
  <p {%- if not read_only and not symptom_rows %} class="nhsuk-u-margin-bottom-3"{% endif %}>Any problems or symptoms, including lumps, swelling, rashes or nipple changes</p>
  {% if symptom_rows %}
     {{ summaryList({
        "rows": symptom_rows
      }) }}
  {% else %}
    {% set insetHtml %}
      <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
    <hr>
  {% endif %}

  {% if not read_only %}
    <h3>Add symptoms</h3>

    <div class="nhsuk-button-group app-button-group--small">
      {% for button_info in presented_medical_info.symptom_buttons %}
        {{ button({
          "text": button_info.text,
          "href": button_info.href,
          "classes": "nhsuk-button--secondary nhsuk-button--small"
        }) }}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro medical_history_content(presented_medical_info, read_only=false) %}
  <p>Including breast cancer, implants, prior procedures and treatments</p>

  {% if presented_medical_info.any_medical_history %}
    {{ breast_cancer_history_card(presented_medical_info.breast_cancer_history, read_only=read_only) }}
    {{ implanted_medical_device_history_card(presented_medical_info.implanted_medical_device_history, read_only=read_only) }}
    {{ breast_augmentation_history_card(presented_medical_info.breast_augmentation_history, read_only=read_only) }}
    {{ mastectomy_or_lumpectomy_history_card(presented_medical_info.mastectomy_or_lumpectomy_history, read_only=read_only) }}
    {{ cyst_history_card(presented_medical_info.cyst_history, read_only=read_only) }}
    {{ benign_lump_history_card(presented_medical_info.benign_lump_history, read_only=read_only) }}
    {{ other_procedure_history_card(presented_medical_info.other_procedure_history, read_only=read_only) }}
  {% else %}
    {% set insetTextHtml %}
      <p>
        No medical history has been added yet.
      </p>
    {% endset %}

    {{ insetText({
      "html": insetTextHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
  {% endif %}

  {% if not read_only %}
    <hr>
    <h3>Add medical history</h3>

    <div class="nhsuk-button-group app-button-group--small">
      {% for button_info in presented_medical_info.medical_history_buttons %}
        {% if button_info %}
          {{ button({
            "text": button_info.text,
            "href": button_info.href,
            "classes": "nhsuk-button--secondary nhsuk-button--small"
          }) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro breast_features_content(presented_medical_info, read_only=false, debug=false) %}
  <p>Non-surgical scars, moles and other features that may appear on mammogram images</p>
  {% if presented_medical_info.breast_features %}
    {% set features = presented_medical_info.breast_features.features %}
    {% set count = presented_medical_info.breast_features.feature_count %}

    <form>
      <input name="features" type="hidden" value="{{ presented_medical_info.breast_features.features_json }}" readonly>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ app_breast_diagram({
            "debug": debug,
            "features": features,
            "read_only": true,
            "text": count ~ " breast " ~ "feature" | plural(count) ~ " recorded",
            "version": presented_medical_info.breast_features.diagram_version
          }) }}
        </div>
      </div>
    </form>

  {% else %}
    {% set insetHtml %}
      <p>No breast features have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0" ~ (" nhsuk-u-margin-bottom-4" if not read_only else "")
    }) }}
  {% endif %}

  {% if not read_only %}
    <div class="nhsuk-button-group {{ "nhsuk-u-margin-top-3" if presented_medical_info.breast_features else "" }}">
      {{ button({
        "text": presented_medical_info.add_or_update_breast_features_button.text,
        "href": presented_medical_info.add_or_update_breast_features_button.href,
        "classes": "nhsuk-button--secondary nhsuk-button--small"
      }) }}
    </div>
  {% endif %}
{% endmacro %}

{% macro other_information_content(presented_medical_info, read_only=false) %}
  <p>Including HRT, pregnancy, breastfeeding and mammographer notes</p>
  {{ summaryList({
    "rows": [
      {
        "key": {
            "text": "Hormone replacement therapy (HRT)"
        },
        "value" : {
            "html": hormone_replacement_therapy_details(presented_medical_info, read_only)
        },
        "actions": presented_medical_info.hormone_replacement_therapy_actions(read_only)
      },
      {
        "key": {
            "text": "Pregnancy and breastfeeding"
        },
        "value" : {
            "html": pregnancy_and_breastfeeding_details(presented_medical_info, read_only)
        },
        "actions": presented_medical_info.pregnancy_and_breastfeeding_actions(read_only)
      },
      {
        "key": {
            "text": "Other medical information"
        },
        "value" : {
            "html": other_medical_information_details(presented_medical_info, read_only)
        },
        "actions": presented_medical_info.other_medical_information_actions(read_only)
      }
    ]
  }) }}
{% endmacro %}
