{% extends "layout-appointment.jinja" %}
{% from 'nhsuk/components/card/macro.jinja' import card %}
{% from 'nhsuk/components/summary-list/macro.jinja' import summaryList %}
{% from 'mammograms/appointment_notes/appointment_note_banner.jinja' import appointment_note_banner %}
{% from 'mammograms/special_appointments/special_appointment_banner.jinja' import special_appointment_banner %}
{% from 'components/appointment-status/macro.jinja' import app_appointment_status %}
{% from 'nhsuk/components/tag/macro.jinja' import tag %}

{% block tab_content %}
  {{ special_appointment_banner(presented_appointment.special_appointment, show_change_link=presented_appointment.active) }}

  {{ appointment_note_banner(
    appointment_note,
    change_url=url('mammograms:upsert_appointment_note', kwargs={'pk': presented_appointment.pk})
  ) }}

  {% set appointment_details_html %}
    {{ summaryList({
      "rows": [
       {
         "key": {
           "text": "Scheduled date and time"
         },
         "value": {
           "text": presented_appointment.clinic_slot.slot_timestamp_single_line | nl2br
         }
       },
       {
         "key": {
           "text": "Clinic type"
         },
         "value": {
           "text": presented_appointment.clinic_slot.clinic_type
         }
       },
       {
         "key": {
           "text": "Appointment status"
         },
         "value": {
           "html": app_appointment_status(presented_appointment)
         },
       },
       {
          "key": {
            "text": "Special appointment"
          },
          "value": {
            "html": tag(presented_appointment.special_appointment_tag_properties) if presented_appointment.is_special_appointment else '<span class="nhsuk-u-secondary-text-colour">Not a special appointment</span>'
          },
          "actions": {
           "items": [
             {
               "text": "Change",
               "href": presented_appointment.special_appointment_url,
               "classes": "nhsuk-link--no-visited-state",
             }
           ]
         },
       }
      ]
    }) }}
  {% endset %}

  {{ card({
    "headingHtml": " ",
    "headingLevel": "2",
    "descriptionHtml": appointment_details_html
  }) }}
{% endblock %}
