{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/inset-text/macro.jinja" import insetText %}

{% if image_count > 0 %}
  {% set inset_text_html %}
    <p>
      Receiving images… {{ image_count }} {{ "image" | plural(image_count) }} received
    </p>
  {% endset %}
{% else %}
  {% set inset_text_html %}
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>
      Mammography images will appear below once they have been received
    </p>
  {% endset %}
{% endif %}

{{ insetText({
  "html": inset_text_html,
  "classes": "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2"
  })
}}

{% if image_count > 0 %}
  <div class="app-mammogram-cards">
    {% for side in ["Right", "Left"] %}
      <div class="app-mammogram-card">
        {% set rh_keys = [] %}
        {% for k in images %}
          {% if k[0] == side[0] %}
            {% set _ = rh_keys.append(k) %}
          {% endif %}
        {% endfor %}
        {% set side_html %}
          <div class="app-mammogram-views">
            {% for laterality in rh_keys %}
              {% with images=images[laterality], side=side.lower() %}
                {% if not laterality.endswith("ID") %}
                  {% include "mammograms/_image_set.jinja" %}
                {% elif images | length > 0 %}
                  {% include "mammograms/_image_set.jinja" %}
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
        {% endset %}
        {{ card({
          "heading": side ~ " breast",
          "headingLevel": "2",
          "feature": true,
          "descriptionHtml": side_html
        }) }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<noscript>
  <p class="nhsuk-body-s nhsuk-u-margin-top-4">
    <a href="" class="nhsuk-link">Refresh the page</a> to see new images.
  </p>
</noscript>

<input type="hidden" name="rcc_count" value="{{ images["RCC"]|length }}" />
<input type="hidden" name="rmlo_count" value="{{ images["RMLO"]|length }}" />
<input type="hidden" name="rccid_count" value="{{ images["RCCID"]|length }}" />
<input type="hidden" name="rmloid_count" value="{{ images["RMLOID"]|length }}" />
<input type="hidden" name="lcc_count" value="{{ images["LCC"]|length }}" />
<input type="hidden" name="lmlo_count" value="{{ images["LMLO"]|length }}" />
<input type="hidden" name="lccid_count" value="{{ images["LCCID"]|length }}" />
<input type="hidden" name="lmloid_count" value="{{ images["LMLOID"]|length }}" />
