<div class="app-mammogram-view--{{ side }}">
  <div class="app-mammogram-thumbnail app-mammogram-thumbnail--{{ side }}">
    {% if (images | length) == 0 %}
      <div class="app-mammogram-thumbnail__image-wrapper app-mammogram-thumbnail__image-wrapper--large">
        <span class="app-mammogram-thumbnail__label">{{ laterality }}</span>
        <div class="app-mammogram-thumbnail__missing">
          <span class="app-mammogram-thumbnail__missing-text">No image</span>
        </div>
      </div>
    {% else %}
      {% for image in images %}
        {% if image.image_file %}
          <div class="app-mammogram-thumbnail__image-wrapper app-mammogram-thumbnail__image-wrapper--large">
            <span class="app-mammogram-thumbnail__label">{{ laterality }}</span>
              {# djlint:off H006 #}
              <img class="app-mammogram-thumbnail__image" src="{{ image.image_file.url }}" alt="{{ laterality }} view ({{ loop.index }} of {{ loop.length }})" data-testid="mammogram-image-{{ laterality }}-{{ loop.index }}">
              {# djlint:on H006 #}
            </span>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
