{% extends "layout-app.jinja" %}
{% from 'nhsuk/components/button/macro.jinja' import button %}
{% from 'django_form_helpers.jinja' import form_error_summary %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">
      {% if caption %}
      <span class="nhsuk-caption-l">
        {{ caption }}
      </span>
      {% endif %}
      {{ heading }}
    </h1>

    <p>The mammogram added took place {{ time_since_previous_mammogram }}. It is not recommended to take breast x-rays within 6 months of each other.</p>

    <p>Advise the participant that they will be invited for their next scheduled mammogram based on the information provided.</p>

    <form action="{{ url('mammograms:attended_not_screened', kwargs={'appointment_pk': presented_appointment.pk}) }}" method="post" novalidate>
      <div class="nhsuk-button-group">
        {{ csrf_input }}
        {{ button({
          "text": "End appointment and return to clinic"
        }) }}
      </div>
    </form>

    <p>
    <a class="nhsuk-link--no-visited-state" href="{{ update_previous_mammogram_url }}">Edit previous mammogram details</a>
    </p>
    <p>
    <a href="{{ proceed_anyway_url }}" class="nhsuk-link app-link app-link--warning">Proceed with this appointment</a>
    </p>
  </div>
</div>
{% endblock %}
