{% extends "workflow_step.jinja" %}
{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}
{% from "components/participant-details/summary_list_rows.jinja" import ethnicity_html %}
{% from "mammograms/check_information/appointment_details_card.jinja" import appointment_details_card %}
{% from "mammograms/check_information/images_taken_card.jinja" import images_taken_card %}
{% from "mammograms/check_information/medical_information_card.jinja" import medical_information_card %}

{% block step_content %}
  <p>Before concluding this appointment, confirm that the information recorded is correct.</p>

  {% set return_url = request.path %}

  {% call card({
  "heading": "Personal Information",
  "feature": true
  }) %}

  {{ summaryList({
      "rows": [
      {
          "key": {
              "text": "Ethnicity"
          },
          "value" : {
              "html": ethnicity_html(presented_appointment.participant, return_url) | safe
          },
          "actions": presented_appointment.participant.ethnicity_actions(return_url)
      }
      ]
  }) }}

  {% endcall %}

  {{ medical_information_card(presented_medical_information) }}
  {{ images_taken_card(presented_images) }}
  {{ appointment_details_card(presented_appointment, return_url) }}
{% endblock %}

{% block wizard_form %}
  <form method="post" novalidate>
    {{ csrf_input }}
    {{ button({
      "text": "Complete screening and return to clinic",
      "classes": "nhsuk-u-margin-bottom-4"
    }) }}
  </form>
{% endblock %}
