{% macro appointment_cannot_proceed_link(appointment_presenter, request) %}
  <p>
    <a class="nhsuk-link nhsuk-link--no-visited-state" 
       href="{{ url('mammograms:confirm_appointment_cannot_go_ahead', kwargs={"pk": appointment_presenter.pk}) }}?return_url={{ request.path }}">
      Appointment cannot proceed
    </a>
  </p>
{% endmacro %}
