{% extends "wizard_step.jinja" %}
{% from "nhsuk/components/card/macro.jinja" import card %}
{% from "nhsuk/components/inset-text/macro.jinja" import insetText %}
{% from "nhsuk/components/summary-list/macro.jinja" import summaryList %}

{% block step_content %}

{% call card({
  "heading": "Symptoms",
}) %}
  <p {%- if not presenter.symptom_rows %} class="nhsuk-u-margin-bottom-3"{% endif %}>Any problems or symptoms, including lumps, swelling, rashes or nipple changes</p>
  {% if presenter.symptom_rows %}
     {{ summaryList({
        "rows": presenter.symptom_rows
      }) }}
  {% else %}
    {% set insetHtml %}
      <p>No symptoms have been recorded for this participant.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
    }) }}
  {% endif %}

  <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
    <a href="{{ presenter.add_lump_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presenter.add_lump_link.text }}</a><br>
    <a href="{{ presenter.add_swelling_or_shape_change_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presenter.add_swelling_or_shape_change_link.text }}</a><br>
    <a href="{{ presenter.add_skin_change_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presenter.add_skin_change_link.text }}</a><br>
    <a href="{{ presenter.add_nipple_change_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presenter.add_nipple_change_link.text }}</a><br>
    <a href="{{ presenter.add_other_symptom_link.href }}" class="nhsuk-link nhsuk-link--no-visited-state">{{ presenter.add_other_symptom_link.text }}</a>
  </p>
{% endcall %}

{% set medical_history_card_html %}
  {% set breast_cancer_history_html %}
    {% for presented_item in presenter.breast_cancer_history %}
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}
  {% set breast_augmentation_history_html %}
    {% for presented_item in presenter.breast_augmentation_history %}
      {{ summaryList(presented_item.summary_list_params) }}
    {% endfor %}
  {% endset %}
  {% set non_cancerous_lump_diagnosis_link %}
  <a class="nhsuk-link" href="#">Enter non-cancerous lump diagnosis</a>
  {% endset %}
  {% set chest_procedures_link %}
  <a class="nhsuk-link" href="#">Enter other breast or chest procedures</a>
  {% endset %}
  {{ summaryList({
    "rows": [
     {
       "key": {
         "text": "Breast cancer history"
       },
       "value": {
         "html": breast_cancer_history_html
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Breast implants or augmentation"
       },
       "value": {
         "html": breast_augmentation_history_html
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Non-cancerous lump diagnosis"
       },
       "value": {
         "html": non_cancerous_lump_diagnosis_link
       },
       "actions": {
          "items": []
       }
     },
     {
       "key": {
         "text": "Other breast or chest procedures"
       },
       "value": {
         "html": chest_procedures_link
       },
       "actions": {
          "items": []
       }
     }
    ]
  }) }}
{% endset %}
{{ card({
  "heading": "Medical history",
  "descriptionHtml": medical_history_card_html
}) }}

{% set breast_features_card_html %}
    {% set breast_features_recorded = false %}

    {% set insetHtml %}
    <p>No breast features have been recorded for this participant. Add any scars, moles, warts or lumps observed or reported during the appointment.</p>
    {% endset %}
    {{ insetText({
      "html": insetHtml,
      "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4 app-inset-text"
    }) }}

    <p class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state">{{ "Add another feature" if breast_features_recorded else "Add a feature" }}</a>
    </p>
{% endset %}
{{ card({
  "heading": "Breast features",
  "descriptionHtml": breast_features_card_html
}) }}

{% set other_information_card_html %}
  {% set hrt_link %}
  <a class="nhsuk-link" href="#">Enter hormone replacement therapy (HRT)</a>
  {% endset %}
  {% set pregnancy_and_breastfeeding_link %}
  <a class="nhsuk-link" href="#">Enter pregnancy and breastfeeding</a>
  {% endset %}
{% endset %}
{{ card({
  "heading": "Other information",
  "descriptionHtml": other_information_card_html
}) }}

{% endblock %}
