{% from 'nhsuk/components/header/macro.jinja' import header %}
{% from 'nhsuk/components/back-link/macro.jinja' import backLink %}
{% from "notification-banner/macro.jinja" import notificationBanner %}
{% from 'components/appointment-status-bar.jinja' import app_appointment_status_bar %}

{% set assetPath = STATIC_URL ~ "assets" %}
{% extends "nhsuk/template.jinja" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow, noarchive">
  <link rel="stylesheet" href="{{ static('css/main.min.css') }}">
{% endblock %}

{% block pageTitle %}{% if form and form.errors %}Error: {% endif %}{% if page_title %}{{ page_title }} – {% endif %}Manage breast screening – NHS{% endblock %}

{% block header %}
  {% if not IS_PRODUCTION %}
    <div class="app-environment nhsuk-tag--grey">
      <div class="nhsuk-width-container">
        <strong class="nhsuk-tag nhsuk-tag--grey">
          {{ DJANGO_ENV }}
        </strong>
        This is the {{ DJANGO_ENV }} environment.
      </div>
    </div>
  {% endif %}

  {{ header({
    "classes": "nhsuk-header--inline",
    "service": {
      "text": "Manage breast screening"
    },
    "account": {
      "items": header_account_items(request.user)
    },
    "navigation": {
      "items": [] if request.resolver_match.url_name == 'pause_appointment' else (
        [
          {
            "href": url('mammograms:pause_appointment', kwargs={'pk': presented_appointment.pk}),
            "text": "Pause appointment",
          },
        ] if presented_appointment.status_bar and presented_appointment.status_bar.show_status_bar_for(request.user) else [
          {
            "href": "/",
            "text": "Home",
            "current": true if navActive == "home"
          },
          {
            "href": "/clinics/",
            "text": "Screening",
            'current': true if navActive == "clinics"
          }
        ]
      )
    },
    "containerClasses": containerClasses
  }) }}

  {{
    app_appointment_status_bar({
      "user": request.user,
      "status_bar": presented_appointment.status_bar,
      "containerClasses": containerClasses
    })
  }}
{% endblock %}

{% block beforeContent %}
  {% if back_link_params %}
  {{ backLink(back_link_params) }}
  {% endif %}
{% endblock beforeContent %}

{% block content %}
  {% block flash_messages %}
    {% set info_notification_params = get_notification_banner_params(
        request, message_type='info'
      ) %}

    {% set success_notification_params = get_notification_banner_params(
        request, message_type='success'
      ) %}

    {% if success_notification_params %}
      {{ notificationBanner(success_notification_params) }}
    {% endif %}

    {% if info_notification_params %}
      {{ notificationBanner(info_notification_params) }}
    {% endif %}
  {% endblock flash_messages %}

  {% block page_content %}
  {% endblock page_content %}
{% endblock content %}

{% block bodyEnd %}
  <script type="module" src="{{ static('js/main.min.js' )}}"></script>
{% endblock %}
