{% extends "layout-app.jinja" %}
{% from 'django_form_helpers.jinja' import form_error_summary %}
{% from "nhsuk/macros/attributes.jinja" import nhsukAttributes -%}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {{ form_error_summary(form) }}

    <h1 class="nhsuk-heading-l">
      {% if caption %}
      <span class="nhsuk-caption-l">
        {{ caption }}
      </span>
      {% endif %}
      {{ heading }}
    </h1>

    <form action="{{ request.path }}" method="post" novalidate {{ nhsukAttributes(form_attributes) }} enctype={{ enctype }}>
      {{ csrf_input }}

      {% block form %}
      {% endblock %}
    </form>
  </div>
</div>
{% endblock %}
